/* Atom One Dark Theme Colors */
:root.dark {
    --color-background: #282c34;
    --color-foreground: #abb2bf;
    --color-comment: #5c6370;
    --color-red: #e06c75;
    --color-orange: #d19a66;
    --color-yellow: #e5c07b;
    --color-green: #98c379;
    --color-cyan: #56b6c2;
    --color-blue: #61afef;
    --color-purple: #c678dd;
}

/* Atom One Light Theme Colors */
:root.light {
    --color-background: #fafafa;
    --color-foreground: #383a42;
    --color-comment: #a0a1a7;
    --color-red: #e45649;
    --color-orange: #ca1243;
    --color-yellow: #c18401;
    --color-green: #50a14f;
    --color-cyan: #0184bc;
    --color-blue: #4078f2;
    --color-purple: #a626a4;
}

/* Use CSS variables for colors */
body {
    background: linear-gradient(45deg, var(--color-orange) 25%, transparent 25%) -50px 0,
                linear-gradient(-45deg, var(--color-orange) 25%, transparent 25%) -50px 0,
                linear-gradient(45deg, transparent 75%, var(--color-blue) 75%) 50px 0,
                linear-gradient(-45deg, transparent 75%, var(--color-blue) 75%) 50px 0;
    background-size: 100px 100px;
    animation: moveBackground 4s linear infinite;
    color: var(--color-foreground);
    font-family: 'Helvetica Neue', sans-serif;
    line-height: 1.6;
}

@keyframes moveBackground {
    0% {
        background-position: 0 0, 0 0, 0 0, 0 0;
    }
    100% {
        background-position: 100px 100px, 100px 100px, 100px 100px, 100px 100px;
    }
}

/* Change the layout of the headers */
h1, h2, h3, h4, h5, h6 {
    color: var(--color-orange);
    font-weight: 300;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

/* Change the layout of the tabs */
.navbar {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: var(--color-background);
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.navbar a {
    color: var(--color-foreground);
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: var(--color-blue);
}